@import url(https://fonts.googleapis.com/css?family=Sofia);
body {
    font-family: 'Open Sans', sans-serif;
}
#page-section, #gallery, #contact {
    background-color: #F3F3F3;
}
a {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
p {
    line-height: 1.9em;
    font-size: 1.2em;
}
h1 {
    font-size: 3.4em;
     line-height: 1.3em;
}
h2 {
    font-size: 3em;
    line-height: 1.3em;
}
h3 {
    font-size: 2.6em;
    line-height: 1.35em;
}
h4 {
    font-size: 2.2em;
    line-height: 1.4em;
}
h5 {
    font-size: 1.8em;
    line-height: 1.45em;
}
h6 {
    font-size: 1.3em;
    line-height: 1.5em;
}
h2 {
    margin-bottom: 30px;
}
.separator {
    width: 100%;
    display: inline-block;
    margin: 55px 0 0 0;
}
/* heading-border */
.m-heading-border {
    height: 4px;
    width: 80px;
    margin: 18px auto 15px auto;
}
/*main wrapper*/
.wrapper {
    width: 100%;
}
/* page loader */
.page-loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url('../img/preloader.gif') no-repeat center center #9a5f9e !important;
    z-index: 1000;
}
.l-content-wrap {
    position: relative;
    z-index: 100;
    background-color: #f3f3f3;
}
.l-wrapper {
    opacity: 0;
}
/* SPLASH IMAGE */
.m-splash-image {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.splash-image-wrap {
    background-color: #eb5556;
}
.flexslider-splash .flex-direction-nav li a:hover {
    opacity: 0.3;
}
.menu-wrap {
    float: left;
    width: 100%;
    z-index: 111;
    position: relative;
}
.splash-wrap {
    display: table;
    height: 100%;
    width: 100%;
}
.flexslider-splash .flex-direction-nav li a {
    text-indent: 99999px;
    background:url('../img/arrow.png') no-repeat center;
    padding: 40px;
    border-radius: 50%;
    opacity: 1;
     -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
.flexslider-splash .flex-direction-nav .flex-next {right: 80px; opacity: 1;} 
.flexslider-splash .flex-direction-nav .flex-prev {left: 80px; opacity: 1;}
.flexslider-splash .flex-direction-nav li a.flex-next {        
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.flexslider-splash .flex-direction-nav li a.flex-prev {        
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
.splash-content {
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
    position: relative;
}
.splash-centering {
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
}
.m-splash-image p {
    font-size: 1.9em;
}
.video-background .mb_YTVPlayer {
    padding: 0;
    border: none;
}
.m-splash-image a {
    padding: 20px 20px;
    /*border: 1px solid #F8D64D;*/
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 1.2em;
    /*margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5%;*/
}
.m-splash-image a:hover, .m-splash-image a:focus, .m-splash-image a:active {
    color: #EC4797;
    background-color: #F1EFE9;
}
.m-splash-image h1 {
    margin-bottom: 0.4em;
    font-weight: 700;
    font-size: 4em;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    padding-bottom: 22px;
    /*border-bottom: 1px solid #F8D64D;*/
    width: 80%;
    margin: 0 auto 20px auto;
}
.btn .fa {
    padding-right: 5px;
}
.second-btn {
    background-color: #EC4797;
    padding: 10px 40px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.second-btn:hover, .second-btn:focus, .second-btn:active {
    color: #fff;
}
.m-splash-image .second-btn:hover, .m-splash-image .second-btn:focus {
    color: #EC4797;
}
.div-centered {
    float: none;
    margin: 0 auto 0 auto;
}
.splash-text {
    /*margin-bottom: 40px;*/
    margin-bottom: 0px;
}
.m-splash-image {    
    position: fixed;
}
.slide-background {
    background: url('../img/slider-background.png') no-repeat center;
}
.flexslider-splash {
    margin-bottom: 0;
}

.flexslider-splash li {
    overflow: hidden; 
}
/* video background */
.video-background {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -100 !important;
}
.video-overlay {
    width: 100%;
    height: 100%;
    background: url('../img/slider-pattern.png');
    position: absolute;
}
.arrow-wrap {
    position: absolute;
    left: 50%;
}
.bottom-arrow {
    position: relative;
    left: -50%;
    /*width: 30px;
    height: 30px;*/
    background: url('../img/arrow.png') no-repeat;
    bottom: 140px;
    -webkit-animation: arrowanimation 2s; /* Chrome, Safari, Opera */
    animation: arrowanimation 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    
}
/* arrow animation in splash image */
/* Chrome, Safari, Opera */
@-webkit-keyframes arrowanimation
{
	
        33% { -webkit-transform: translateY(0px) }       
        66% { -webkit-transform: translateY(30px) }
}
/* Standard syntax */
@keyframes arrowanimation
{	
        33% { -webkit-transform: translateY(0px) }       
        66% { -webkit-transform: translateY(0px) }      

}
.l-navigation-wrap {
    width: 100%;
    float: left;
    z-index: 110;
    transition: padding 0.2s linear;
    -webkit-transition: padding 0.2s linear;
    -moz-transition: padding 0.2s linear;
}
.arrow-top {
    background: url('../img/arrow.png') no-repeat;
    width:30px;
    height: 30px;
    display: inline-block;
    position: relative;
    margin: 4px 0 0 40px;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.arrow-top a {
    width: 100%;
    height: 100%;
    position: absolute; 
}
.m-navbar {
    margin: 0 auto 0 auto;
}
.navbar-default .navbar-toggle .icon-bar {
    width: 100%;
    background-color: #fff;
}
.navbar-toggle:hover .icon-bar {
    background-color: #34495e;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-collapse {
    max-height: none;
}
.navbar-toggle  {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 10px;
    height: 40px;
    width: 42px;
    margin: 19px 0 0 0;
    border: 2px solid #fff;
}
.nav {
    padding: 18px 0;
}
.navbar .navbar-collapse .nav li a {
    border: 1px solid transparent;
}
.navbar ul li a {
    font-size: 1.1em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #F7D859;
    background-color: #EC4797;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
    border-radius: 5%;
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #FFF;
    /*border: 1px solid rgb(236, 71, 151);*/
    border-radius: 5%;
}
.half-image img {
    max-width: 100%;
}
.navbar-toggle i {
    font-size: 20px;
    color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
/* SOCIAL ICONS */
.m-social-icons {
    padding:0 13px 0 0;
    float: left;
    margin: 15px 0 5px 0;
}
.m-social-icons a {
    color: #fff;
    float: left;
    text-align: center;
    display: inline-block;
    font-size: 35px;
    padding: 0 13px;
}
.m-social-icons a i {
    float: left;
}
.l-copyright p {
    margin: 20px 0 0 0;
    color: #fff;
    font-size: 15px;
}
/*LOGO*/
.l-logo {
    float: left;
    padding: 27px 0px 22px;
}
/* PAGE SECTION */
.l-content-wrap .l-page-section {
    padding: 120px 0px 100px;
    margin: 10px 0 0 0;
}
.menu-padd {
    padding: 6px 0;
}
.round-icon {
    margin-bottom: 30px;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Chrome, Safari, Opera */
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;     
}
.circle-animate { 
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
}
.l-section {
    padding: 100px 0;
}
.l-section-p {
    padding: 100px 0 0;
}
.l-standard-section {
    padding: 100px 0;
}
/* paralax section */
.l-paralax-section h5 {
    margin: 30px 0 0 0;
}
.l-paralax-section p {
    margin: 40px 0;
}
.paralax-section1 {
    background: transparent url("../img/taller-3.jpg") no-repeat scroll 45% 23%;
}
.item-overlay {
  z-index: 107;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(44,26,41,0.4);
}
.what-we-do-section h6 {
    margin-top: 20px;
}
 .opacity {
    opacity: 0;
    transition: opacity 300ms linear;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
}
.opacity-on {
    opacity: 1;
}
.paralax-section2 {
    background: url('../img/magic-pixel.png') repeat top left, url('../img/background-testimonials.jpg');
}
.l-twitter-section {
    background: url('../img/magic-pixel.png') repeat top left, url('../img/background-twitter.jpg');
}
/* ABOUT ME SECTION */
.m-about-me-left {
    width: 100%;
    text-align: right;
}
.about-me-center {
    text-align: center;
}
.about-me-center img {
    max-width: 100%;
}
.about-me h1,
.about-me h2,
.about-me h3,
.about-me h4,
.about-me h5,
.about-me h6 {
    margin-bottom: 0;
}
/* latest posts */
.m-news-post h4{
    margin: 0 0 25px 0;
}
.news-content {
    padding: 40px 40px 45px 40px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    float: left;
    width: 100%;
    margin-bottom: 45px;
}
.news-button {
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 30px 0 0 0;
    display: inline-block;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.white-popup img {
    width: 100%;
    margin-bottom: 30px;
}
.white-popup iframe {
    width: 100%;
    border-width: 0px;
}
.m-image-wrap {
    height: 100%;
    float: left;
    width: 100%;
    position: relative;
}
.m-image-wrap img {
    position: relative;
    width: 100%;
    display:inline-block;
}
.m-image-wrap:hover .image-hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
    opacity: 1;
}
.m-news-post {
    -webkit-transition:  all 0.3s linear;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Chrome, Safari, Opera */
    transform: scale(0);
}
.scale-up {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
}
.image-hover {
    width: 100%;
    height: 100%;
    background-color: #1abc9c;
    z-index: 10;
    display: table;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Chrome, Safari, Opera */
    transform: scale(0);
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    opacity: 0;
}
.hover-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.image-hover .categories {
    display: table-cell;
    vertical-align: middle;
}
.image-hover .categories a {
    font-size: 1.3em;
}
.categories .m-heading-border {
    margin-top: 10px;
}
.post-meta {
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    height: 32px;
}
.post-comments {
    float: left;
    width: 50%;
    padding-left: 4%;
}
.post-date {
    float: left;
    width: 50%;
    padding-right: 4%;
}
.m-posts {
    margin:35px 0 0 0;
}
/* TESTIMONIALS */
.flexslider {
    background-color: transparent;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.flexslider .slides img {
    /*width: auto;*/
    display: inline-block;
    margin-bottom: 17px;
}
.flex-control-paging li a {
    border: 2px solid #fff;
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    z-index: 100;
}
.flex-control-nav li {
    margin: 0 2px 0 3px;
}
.testimonials-paralax .flex-direction-nav a, .l-twitter-section .flex-direction-nav a  {
             border:2px solid #c8a412;
             border-radius: 50%;
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;        
             opacity: 1;
            -moz-transition: none;
           -webkit-transition: none;
           -o-transition: color 0 ease-in;
           transition: none;           
           padding: 55px;
           color: #c8a412;
           -webkit-transition: all 0.2s linear;
           -moz-transition: all 0.2s linear;
           transition: all 0.2s linear;
}
.testimonials-paralax .flex-direction-nav a:hover, .l-twitter-section .flex-direction-nav a:hover {
    color: #fff;
    background-color: #c8a412;
}
.testimonials-paralax .flex-direction-nav a.flex-next, .l-twitter-section .flex-direction-nav a.flex-next {
    right: 80px;
    opacity: 1;
}
.testimonials-paralax .flex-direction-nav a.flex-prev, .l-twitter-section .flex-direction-nav a.flex-prev {
    left: 80px;
    opacity: 1;
}

.testimonials-paralax .flex-direction-nav a.flex-next:before,
.l-twitter-section .flex-direction-nav a.flex-next:before {
             display: inline-block;
             font-family: 'FontAwesome';
             content:"\f105";
             font-size: 50px; 
             text-shadow: none;            
             top: -37px;
             left: -2px;
             position: relative;
   }
   
.testimonials-paralax .flex-direction-nav a.flex-prev:before,
.l-twitter-section .flex-direction-nav a.flex-prev:before {
             display: inline-block;
             font-family: 'FontAwesome';
             content:"\f104";
             font-size: 50px; 
             text-shadow: none;            
             top: -37px;
             left: -13px;
             position: relative;
}
   

.testimonials-paralax .flexslider li span {
    font-size: 1.2em;
    font-style: italic;
}

.testimonials-paralax .flexslider li p {    
    width: 80%;
    margin: 20px auto;
}


/* Chart style */


.chart {
  position: relative;
  display: inline-block;
  width: 175px;
  height: 175px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 170px;
  z-index: 2;
  font-size: 2.3em;
  color: #fff;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
/* gallery CSS */
.l-gallery-categories ul {
    padding:0;
    margin: 40px 0 0 0;    
}
.l-gallery-categories ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 100px;
    border: 1px solid #EC4797;
    color: #fff;
    background-color: #EC4797;
    margin: 0 1px 5px 0;
    border-radius: 2%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-size: 1.1em;
}
.gallery-post {
    display: inline-block;
    width: 25%;  
}
.gallery-post > img {
    width: 100%;
}
.l-gallery-posts {
      margin: 50px 0 0 0;
}
.gallery-post img {
    position: relative;
}
.gallery-post:hover .gallery-hover {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}
.gallery-hover {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #303030;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
/* gallery bacgrounds */
.green {
    background-color: #1abc9c;
}

.red {
    background-color: #e74c3c;
}

.blue {
    background-color: #34495e;
}

.emerald {
    background-color: #5ed5dc;
}

.yellow {
    background-color: #efc84a;
}

.gallery-hover-wrap  {
    display: table;
    width: 100%;
    height: 100%;
}

.gallery-hover-wrap h5 a {
    color: #fff;
}

.gallery-hover-wrap h5 a:hover {
    opacity: 0.6;
}

.gallery-cell {
    display: table-cell;
    vertical-align: middle;
}

.gallery-cell h5 {
    font-size: 1.8em;
    font-style: italic;
    margin-bottom: 0;
}

.gallery-category {
    margin:0 0 13px 0;
}

.gallery-cell h6 {
    margin: 7px 0 0 0;
}

.title-border {
    width: 100px;
    height: 1px;
    background-color: #fff;
    display: inline-block;  
}

.member-description {
    padding: 31px 35px 31px 35px;
    width: 295px;
    position: relative;  
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.l-description-wrap {
    position: absolute;
    left: 50%;
    margin-left: -147px;
    top: 370px;
    opacity: 0;    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 20;
}

.team-member-image {
    margin-bottom: 20px;
    width: 85%;
    border: 8px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.team-social-icons {
    float: left;
    width: 100%;
}

.team-social-icons a {
    font-size: 0.8em;
    padding: 10px;
    width: 38px;
    height: 38px;
    display:inline-block;
}

.team-social-icons a:last-child {
    margin-right: 0;
}

.l-team-section .container > p {
    margin-bottom: 70px;
}

.m-arrow-wrap {
    position: absolute;
    top: -10px;
    left: 50%;
}

.m-arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 16.5px 13px 16.5px;
    border-color: transparent transparent #ffffff transparent;
    position: relative; 
    left: -50%;
}

.m-team-member {
    overflow: hidden;
}

.m-team-member:hover {
    overflow: visible;
}

.m-team-member:hover .l-description-wrap {
    opacity: 1;
    top: 295px;
}
/* contact us */
#map {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 30px 0 0 0;
}
.contact-message {
    margin: 16px 0 0 0;
    padding: 18px;
    display: none;
}
.message-error {
    background-color: rgba(255, 255, 255, 0.9);
    color: red;   
}
.message-sent {
    background-color: rgba(255, 255, 255, 0.9);
    color: #269796;   
}
.form-wrapper label.error {
    position: absolute;
    right: 30px;
    top: 16px;
}  
.l-content-wrap .l-map-section {
    padding-bottom: 0;
}
.l-content-wrap .l-contactus-section {
    padding: 40px 0 0 0;
}
.l-contactus-section ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 0 0 0;
}
.l-contactus-section ul li img {
    margin-right: 17px;
}
.l-contactus-section ul li {
    margin: 0 0 17px 0;
}
.l-contactus-section .col-lg-6 input {
    margin: 0 0 18px 0;
    color: #fff;
}
.l-contactus-section .col-lg-12 textarea {
    color: #fff;
}
.l-contactus-section .col-lg-6 input::-webkit-input-placeholder,
.l-contactus-section .col-lg-12 textarea::-webkit-input-placeholder  {
    color: #fff;
}
.form-margin {
    margin-top: 30px;
}
.form-button {
    margin: 16px 0 0 0;
    padding: 10px 22px;   
}
.l-copyright {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 35px 0;
    width: 100%;
    margin: 55px 0 0 0;
}
/* magnific */
.white-popup .mfp-close, .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    right: -44px;
    top: 0px;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 0 10px 18px 10px;
    color: black;
    font-size: 28px;
    background-color: #fff !important;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    top: 40px;
    text-align: center;
}
.white-popup .mfp-close:active {
    top: 0px;
}

.navbar-default .navbar-toggle {
    border-radius: 10%;
}
.p-bottom {
    margin-bottom: 50px;
}
#gallery {
    background-color: #FFFFFF !important;
}
a.white {
    color: #fff;
}
/*-----------------------------------
    Collection Masonry
------------------------------------*/
#collection-masonry {
  margin-top: 30px;
}
#collection-masonry .item {
  height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
}
.collection .item-wrap {
  position: relative;
  height: 300px;
  width: 100%;
}
#collection-masonry .item-overlay {
  z-index: 107;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(44,26,41,0.4);
}
.item-thumb {
  z-index: 106;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
}
.item-border {
  border: 3px solid rgb(223, 81, 157);
  position: absolute;
  z-index: 108;
  top: 10px; 
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: auto;
  width: auto;
}
#collection-masonry .item-category {
  position: absolute;
  bottom: 50px;
  z-index: 109;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
#coll-msn-1 .item-category {
  text-align: left;
  left: 50px;
}
#coll-msn-2 .item-category {
  width: 100%;
  text-align: center;
}
#coll-msn-3 .item-category {
  right: 50px;
  text-align: right;
}
/*---------------------
       Otros         
----------------------*/
.font-sofia {
    font-family: 'Sofia', sans-serif;
}
.m-splash-image h1 {
    font-size: 5em;
}
.about-img {
    width: 70%;
    display: inline-block;
}
.margin-top-6p {
    margin-top: 6%;
}
.margin-top-6p p {
    margin: 0px 10%;
    font-size: 1.4em;
}
hr {
    background: url("../img/imagen-hr.png") no-repeat center;
    border: none;
    height: 12px;
}
.l-section h2 {
    margin-bottom: 20px;
}
.l-gallery-categories ul li.active {
    color: #6D6D6D;
    background-color: transparent;
}
.splash-centering .img-responsive {
    max-width: 60%;
}
.flexslider .slides > li {
    z-index: 0 !important;
}
.l-section-post {
    padding: 40px 0px;
}
.post {
    background-color: transparent !important;
    color: #fff !important;
}
.post:hover, .post:focus, .post:active {
    background-color: #EC4797 !important;
    color: #fff !important;
}
/* RESPONSIVE */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
            
    .navbar .arrow-top {
        display: none;
    }
}
@media (max-width: 1200px)  {
    .m-posts .news-content {
        padding: 25px;
    }
    .news-button {
        margin-top: 10px;
    }
    .flex-direction-nav {
        display: none;
    }
    .m-team-member:hover .l-description-wrap {
        top: 260px;
    }
    .gallery-cell h5 {
        font-size: 1.35em;
    }
    .gallery-cell > img {
        width: 18%;
    }
}
@media (max-width: 1024px)  {
    .splash-centering .img-responsive {
        max-width: 60%;
    }
}
@media (max-width: 980px)  {
    .gallery-post {
        width: 33.3%;
    }
    .m-splash-image h1 {
        font-size: 3.2em;
    }
}
@media (max-width: 768px)  {
    p {
        font-size: 1.1em;
        line-height: 1.7em;
    }
    h1 {
        font-size: 3.2em;       
    }
    h2 {
        font-size: 2.9em;
    }
    h3 {
        font-size: 2.3em;
    }
    h4 {
        font-size: 1.9em;
    }
    h5 {
        font-size: 1.5em;
    }
    h6 {
        font-size: 1.25em;
    }
    .m-splash-image h1 {
        font-size: 3em;
    }
    .l-section {
        padding: 100px 0;
    }
    .what-we-do-section .col-xs-12 {
        margin-bottom: 20px;
    }
    .l-page-section .col-sm-4 p {
        margin-bottom: 50px;
    }
    .l-page-section .col-sm-4:last-child p {
        margin-bottom: 0;
    }
    .m-team-member {
        margin: 15px 0 15px 0;
    }
    .m-team-member img.team-member-image  {
        width: 50%;
    }
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .form-wrapper {
        margin: 30px 0 0 0;
    }
    .gallery-post {
        width: 50%;
    }
    .m-team-member:hover .l-description-wrap {
        top: 360px;
    }
    .m-about-me-left, .m-about-me-right {
        text-align: center;
    }
    
    .about-me-center img {
        margin: 20px 0;
}
}
@media (max-width: 660px)  {
    .m-team-member:hover .l-description-wrap {
        top: 320px;
    }   
    .m-splash-image a {
        float: left;
        width: 100%;
    }
    .m-splash-image h1 {
        font-size: 2.8em;
    }
    .l-navigation-wrap {
        position: static !important;
    }
    .l-page-section {
        margin: 0;
    }
    .slide-background {
        background: transparent url("../img/slider-background.png") no-repeat scroll left;
    }
    .splash-centering .img-responsive {
        max-width: 100%;
    }
}
@media (max-width: 460px)  {
    .m-splash-image h1 {
        font-size: 1.7em;
    }
    .l-logo img {
        width: 150px;
    }   
    .arrow-wrap {
        display: none;
    }
    .m-splash-image p {
        font-size: 1em;
    }
    h1 {
        font-size: 2.8em;       
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2.1em;
    }
    h4 {
        font-size: 1.8em;
    }
    h5 {
        font-size: 1.4em;
    }
    h6 {
        font-size: 1.1em;
    }   
    .l-contactus-section button {
        width: 100%;
    }
    .l-contactus-section ul li img {
        margin-right: 0;
    }
    .gallery-post {
        width: 100%;
    }
    .m-posts .news-content {
        padding: 30px  25px 45px 25px;
    }
    .m-team-member:hover .l-description-wrap {
        top: 250px;
    }
    .l-twitter-section .tweet {
        font-size: 1.25em;
    }
    .l-navigation-wrap {
        position: static !important;
    }
    .gallery-cell h5 {
        font-size: 1.5em;
}
    .gallery-cell > img {
        width: 22%;
    }
}
a {
    outline: none !important; 
}
.pull-rl {
    float: left !important;
}
@media (min-width: 768px) {
   .pull-rl {
        float: right !important;
    } 
}
/*  Masonry
------------------------------------*/
.boxed-product-in {
    padding: 0;
    margin-bottom: 2px;
    border: solid 1px transparent;
}
.contenedor {
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 0px;
    margin-left: 0px;
}
/*  Back To Top
------------------------------------*/
#topcontrol {
  color: #fff;
  z-index: 100;
  width: 40px;
  height: 40px;
  font-size: 40px;
  background: #9A5F9E;
  position: relative;
  right: 17px !important;
  bottom: 15px !important;
  border-radius: 10%;
}
#topcontrol:after {
  top: -10px;
  left: 7.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}